.App {
  text-align: center;
  background-color: orange;
}

table, th, td {
  border: 4px solid orange;
  background-color: black;
  color: white;
}

table {
  margin: auto;
}

.form{
  width: 500px;
  margin: auto;
  border: 4px solid black;
}